<div class="album py-5 bg-light">
  <div class="container">
    <div class="d-flex w-50 m-auto">
      <input class="form-control me-2 w-75" type="search" [(ngModel)]="keyword" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit" (click)="search()">Tìm kiếm</button>
    </div>
    <div class="row mt-3">
      <div class="col-3">
        <h3>Danh mục sách</h3>
        <div class="list-group">
          @if(selectedCategory === -1) {
          <button type="button" class="list-group-item list-group-item-action active" aria-current="true"
            (click)="setCategory(-1)">
            Tất cả
          </button>
          } @else {
          <button type="button" class="list-group-item list-group-item-action" (click)="setCategory(-1)">
            Tất cả
          </button>
          }
          @for (item of categories; track item; let idx = $index) {
          @if(idx === selectedCategory) {
          <button type="button" class="list-group-item list-group-item-action active" aria-current="true"
            (click)="setCategory(idx)">
            {{ item.name }}
          </button>
          } @else {
          <button type="button" class="list-group-item list-group-item-action" (click)="setCategory(idx)">
            {{ item.name }}
          </button>
          }
          }
        </div>

      </div>
      <div class="col-9">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mt-3">
          @for (item of books; track $index) {
          <div class="col">
            <div class="card shadow-sm">
              <a class="m-auto" href="https://imgbb.com/"><img src="https://i.ibb.co/DD6CnDm/images.jpg" alt="images"
                  border="0"></a>
              <div class="card-body">
                <h5 class="card-title" style="height: 50px;">Tên sách: {{ item.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Tác giả: {{ item.author }}</h6>
                <p class="card-text">Giá: {{ item.price }}$</p>
                <div class="d-flex justify-content-between align-items-center">
                  <button type="button" class="btn btn-outline-primary me-3" data-bs-toggle="modal" data-bs-target="#modalDetail" (click)="setBook(item)">
                    Xem chi tiết
                  </button>
                  <div class="btn btn-outline-secondary">Thêm vào giỏ</div>
                </div>
              </div>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </div>

  <app-detail-book [book]="selectedBook"></app-detail-book>

</div>